@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Alegreya+SC&family=Allerta+Stencil&family=Dongle:wght@700&family=Moo+Lah+Lah&family=Nosifer&display=swap');

body{
    transition: 2s;
    background-color: whitesmoke;
    color: #262626;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;
}

/*      Navigation      */

.navigation{
    top: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 1.5cm;
    position: fixed;
    text-align: left;
    background-color:unset;
    box-shadow: unset;
}

/*      Modes       */

.modes{
    padding:35px;
    background-color: #262626;
    border-bottom-left-radius: 100%;
    float: right;
    font-size: 35px;
    cursor: pointer;
    box-shadow: 0 0 100px #262626;
}
.modes .dark{
    color: silver;
}
.modes .dark:hover{
    text-shadow: 0 0 5px silver;
}
.modes .light{
    display: none;
    color:darkorange;
}
.modes .light:hover{
    text-shadow: 0 0 5px orangered;
}


/*      Modes       */

/*      Navbar      */
nav #text{
    display: block;
}
nav #text li{
    display: inline;
    list-style: none;
}
nav #text li a{
    color: seagreen;
    text-decoration: none;
    padding-left: 2cm;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li #nav1{
    color: unset;
}
nav ul li #nav2{
    color: unset;
}
nav #text li a:hover{
    font-size:larger;
    font-weight: bolder;
    text-decoration: underline;
}

nav #icon{
    display: none;
}
nav #icon li{
    display: inline;
    list-style: none;
}
nav #icon li a{
    color: seagreen;
    text-decoration: none;
    padding: 0 15px;
    font-weight: bold;
    font-family: cursive;
    font-size: large;
}
nav ul li #nav1{
    color: unset;
}
nav ul li #nav2{
    color: unset;
}
nav #icon li a:hover{
    font-size: x-large;
    text-shadow: 0 0 5px;
}
/*      Navbar      */

/*      Navigation      */

/*      sea and ship     */
footer{
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    margin-top: auto;
    position: fixed;
}
.sea{
    width: 100%;
}
.sea #seaimg{
    position: absolute;
    width:100%;
    height: 5cm;
    border-radius: 10px;
    transition: 1s;
    filter: brightness(100%);
}
.ship{
    margin-left: 5%;
    mix-blend-mode:hard-light;
    transform-style: preserve-3d;
}
.ship img{
    width: 5cm;
    height: 5cm;
}
.ship:hover{
    mix-blend-mode: difference;
}

/*      sea and ship     */



/*      NAME ANIMATION      */
.vl-home{
    position: relative;
    align-items: center;
    text-align: center;
    border-left: 2px solid; /* Adjust the color and width as needed */
    height: 0vh; /* Adjust the height as needed */
    width: 0; /* Set width to 0 to make it just a line */
    margin: 0 auto;
    transition: 1s;
}
.home{
    height: 95vh;
    font-family: 'Moo Lah Lah',cursive;
}
.home h1{
    margin-top: 40vh;
    padding-top:0 ;
    text-align: center;
    font-size: x-large;
    text-shadow: 2px 2px 0 #666, 4px 4px 0 #777, 6px 6px 0 #888;
}
.home h1 span{
    font-variant: small-caps;
    font-size: 60px;
    transform: translate(-50%,-50%);
    background: #262626 -webkit-gradient(linear,left top,right top,from(#262626),to(#262626),color-stop(0.5,#fff)) 0 0 no-repeat;
    -webkit-background-size:90px;
    background-size: 90px;
    color: rgba(180, 157, 26, 0.801);
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 5s infinite;
    text-shadow: none;
}
.home p{
    text-align: center;
    font-family: "Allerta Stencil";
    font-size: xx-small;
}
.home p #mouse{
    font-size: large;
}
@keyframes animate {
    0%,10%{
        background-position: 1000px;
    }
    20%{
        background-position: top left;
    }
    90%{
        background-position: top right;
    }
    100%{
        background-position: -1000px;
    }
}

/*      NAME ANIMATION      */

/*      ABOUT       */
.vl-about{
    position: relative;
    align-items: center;
    text-align: center;
    border-left: 2px solid; /* Adjust the color and width as needed */
    height: 75vh; /* Adjust the height as needed */
    width: 0; /* Set width to 0 to make it just a line */
    margin: 0 auto;
    transition: 2s;
}
.about{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    transition: 0.5s ease;
}

/*      WHO & WHAT      */
.about .tellme{
    margin: 0 auto;
    width: max-content;
    height: max-content;
    transform-style: preserve-3d;
    transform: perspective(1000em) rotateX(50deg) rotateZ(40deg);
    font-size: large;
    font-family:"Allerta Stencil";
    opacity: 80%;
    text-shadow: 20px 20px 5px;
}

/*      PHOTO ANIMATION     */
.about .image_me{
    position: absolute;
    background-color: inherit;
    right: 40%;
    top: 40%;
    left: 60%;
    width: max-content;
    animation: float 3s ease-in-out infinite;
}
.about img{
    width: 5cm;
    height: 5cm;
    border-radius: 100%;
    border: 2px solid;
    border-bottom: 20px solid;
    border-color: inherit;
    transition: 3s;
}
.about img:hover{
    opacity: 0%;
    transition: 3s;
}
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}

/*      ABOUT ME       */
.about_me{
    position: absolute;
    background-color: inherit;
    width: 50%;
    top: 30%;
    left: 15%;
    height: max-content;
    width: 60vh;
    text-align: left;
    transition: 1s;
}
.about_me h2{
    font-family: "Akaya Kanadaka";
    text-align: center;
    opacity: 80%;
}
.about_me ul {
    list-style: none;
} 
.about_me li {
    position: relative;
    padding-left: 25px;
    font-family: "Dongle";
    font-size: larger;
}
.about_me li::before {
    content: "<>";
    font-weight: bolder;
    position: absolute;
    left: 0;
}
/*      STAR       */
.star{
    font-size: 50px;
    background-color: inherit;
    transition: 2s;
}

/*      ABOUT       */

/*      EDUCATION       */
.education{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    transition: 0.5s ease;
}
.education .edu-head{
    position: absolute;
    font-size: large;
    top: 0%;
    left:20%;
    font-family: "Nosifer";
    opacity: 30%;
}
.education .book{
    font-size: xx-large;
}
.school{
    position: absolute;
    background-color: inherit;
    width: 50%;
    top: 0;
    right: 15%;
    height: max-content;
    width: 60vh;
    text-align: left;
    transition: 1s;
    font-size: larger;
    opacity: 90%;
    overflow-y: scroll;
}
.school h2{
    font-family: "Dongle";
}
.school h2 span{
    font-weight: 900;
    font-family: "Allerta Stencil";
}

.college{
    position: absolute;
    background-color: inherit;
    top: 35%;
    left: 15%;
    height: max-content;
    width: 70vh;
    text-align: left;
    transition: 1s;
    font-size: larger;
    opacity: 90%;
}
.college h2{
    font-family: "Dongle";
}
.college h2 span{
    font-weight: 900;
    font-family: "Allerta Stencil";
}

.embedded{
    position: absolute;
    background-color: inherit;
    top: 60%;
    right: 5%;
    height: max-content;
    width: max-content;
    text-align: left;
    transition: 1s;
    font-size: larger;
    opacity: 90%;
}
.embedded h2{
    font-family: "Dongle";
}
.embedded h2 span{
    font-weight: 900;
    font-family: "Allerta Stencil";
}
/*      EDUCATION       */

/*      WORK and PROJECT        */
.work .work-head{
    position: absolute;
    font-size: large;
    top: 0%;
    right:25%;
    font-family: "Nosifer";
    opacity: 30%;
}
.work{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    transition: 0.5s ease;
}
.case{
    font-size: 40px;
    background-color: inherit;
    transition: 2s;
}
.lib{
    position: absolute;
    background-color: inherit;
    top: 20%;
    left: 15%;
    height: max-content;
    width: 70vh;
    text-align: left;
    transition: 1s;
    font-size: large;
    opacity: 90%;
}
.lib h2{
    font-family: "Dongle";
}
.lib h2 span{
    font-weight: 900;
    font-family: "Allerta Stencil";
}

.office_1{
    position: absolute;
    background-color: inherit;
    top: 40%;
    right: 0;
    height: max-content;
    width: 80vh;
    text-align: left;
    transition: 1s;
    font-size: larger;
    opacity: 90%;
}
.office_1 h2{
    font-family: "Dongle";
}
.office_1 h2 span{
    font-weight: 900;
    font-family: "Allerta Stencil";
}

.work .project-head{
    position: relative;
    font-size: large;
    font-family: "Nosifer";
    opacity: 30%;
}
.project{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    transition: 0.5s ease;
}
/*      WORK and PROJECT        */

/*      SKILLS      */
.skills .skill-head{
    position: relative;
    font-size: large;
    font-family: "Nosifer";
    opacity: 30%;
}
.skills{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    transition: 0.5s ease;
}
.tag{
    background-color: whitesmoke;
    color: #262626;
}
/*      SKILLS      */


@media screen and (max-width:800px) {

    /*      SHIP IMG       */
    .sea #seaimg{
        width: 100%;
    }

    /*      Navigation      */
    .modes{
        font-size: 30px;
    }
    nav #text{
        display: none;
    }
    nav #icon{
        display: block;
        position: sticky;
    }
    /*      Navigation      */

    /*      NAME ANIMATION      */
    .home h1{
        font-size: large;
    }
    .home h1 span{
        font-size: 40px;
    }
    /*      NAME ANIMATION      */

    /*      ABOUT photo,image and char     */
    .about img{
        width: 3cm;
        height: 3cm;
    }
    .about_me{
        left: 0;
        width: 40%;
        font-size: small;
    }
    .about_me ul{
        font-size:10px;
    }
    /*      ABOUT photo,image and char     */

    /*      EDUCATION       */
    .education .edu-head{
        left: 1%;
        top: 3%;
        font-size: small;
    }
    .school{
        right: 0;
        width: 40%;
        font-size: small;
    }
    .college{
        left: 0;
        width: 40%;
        font-size: small;
    }
    .embedded{
        right: 0;
        width: 40%;
        font-size: small;
    }
    /*      EDUCATION       */ 

    /*      WORK and PROJECT        */
    .work .work-head{
        top: 3%;
        right: 3%;
        font-size: small;
    }
    .lib{
        left: 0;
        width: 40%;
        font-size: small;
    }
    .office_1{
        right: 0;
        width: 40%;
        font-size: small;
    }
    /*      WORK and PROJECT        */

}